#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.btn{
   
    background: rgb(85, 116, 254);
    border: 3px solid rgb(1, 0, 88);
    cursor: pointer;
    position: relative;
    isolation: isolate;

}
.btn:hover{
  border: 3px solid rgb(2, 48, 49);
  background: rgb(53, 196, 167);
}
.btn::after{
    content: " ";
    position: absolute;
    z-index: -1;
    background: rgb(53, 196, 167);
    inset: 0;
    border-radius: 15px;
    scale: 0 1;
    transition:scale 450ms;
    color: chartreuse;
}
.btn:hover::after,
.btn:focus-visible::after
{
transform-origin: left;
scale: 1 1;

}