@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=595c69&c2=a9e1dd&gt=l&gd=dcr
*/
background: #595C69;
background: linear-gradient(270deg, #edd2f4, #A9E1DD,#e7e3b4);
}